* {
    text-decoration: none !important;
}

.wrapper {
    display: flex;
    width: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background-color: #F8CBA6;
}

.logo-item i {
    display: flex;
    justify-content: center;
    font-size: 52px;
    color: var(--primaryBlue);
}

h3 {
    display: flex;
    justify-content: center;
    font-weight: 700;
    color: var(--primaryBlue);
}

h3 span {
    color: var(--primaryYellow);
}

.menu-item {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.link {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.link .active
{
    margin-left: 0;
    background-color: var(--primaryBlue);
    color: var(--primaryYellow);   
}

.active::before {
    content: '';
    width: 8px;
    height: 100%;
    background-color: var(--primaryYellow);
}

.icon {
    font-size: 24px;
    color: var(--primaryBlue);
    padding-right: 20px;
}

.link-text {
    font-size: 24px;
    color: var(--primaryBlue);
}

.bottom-section {
    margin-top: auto;
}

.admin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin img {
    width: 60px;
    height: 60px;
}

.admin h3 {
    font-size: 24px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.admin span {
    color: var(--primaryBlue);
    margin-top: 0;
    padding-top: 0;
}

.btn-logout {
    background-color: var(--secondaryRed);
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    border: none;
    color: var(--primaryWhite);
    margin: 10px;
}

.btn-logout i {
    padding-right: 5px;
}
/* .sidebar .menu {
    margin-bottom: auto;
    padding-right: 20px;
}

.sidebar .menu .menu-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10px;
}

.sidebar .menu .menu-item i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primaryBlue);
    border-radius: 40px
}

.sidebar .menu .menu-item .link-item i {
    color: var(--primaryWhite);
    margin-right: 1rem;
}

.sidebar .menu .menu-item .link-item {
    padding: 7px 20px;
    border-radius: 0 30px 30px 0;
}

.sidebar .menu .menu-item .link-item:hover,
.sidebar .menu .menu-item .link-item.active {
    background-color: var(--primaryBlue);
    color: var(--primaryYellow);
}

.sidebar .menu .menu-item .link-item:hover i,
.sidebar .menu .menu-item .link-item.active i {
    background-color: var(--primaryYellow);
    color: var(--primaryBlue);
}

.sidebar .menu .menu-item .link-item {
    text-decoration: none;
    color: var(--primaryBlue);
}

.sidebar .admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    padding: 0;
}

.sidebar .admin .admin-image {
    width: 80px;
    height: 80px;
}

.sidebar .admin .admin-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
}

.sidebar .admin .admin-text h6 {
    font-size: 20px;
}

.sidebar .admin .admin-text span {
    font-size: 12px;
    margin-bottom: 10px;
}

.btn-logout {
    background-color: var(--secondaryRed);
    color: var(--primaryWhite);
    font-size: 14px;
    font-weight: 400;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    border: none;
}

.btn-logout i {
    padding-right: 1rem;
} */
